<div class="categories-con">
    <div class="category">
        <i class="fa-solid fa-fire"></i>
        Trending
    </div>
    <div class="category">
        <i class="fa-solid fa-tractor"></i>
        Farms
    </div>
    <div class="category">
        <i class="fa-solid fa-water-ladder"></i>
        Pools
    </div>
    <div class="category">
        <i class="fa-solid fa-mountain"></i>
        Mountains
    </div>
    <div class="category">
        <i class="fa-brands fa-fort-awesome"></i>
        Castles
    </div>
    <div class="category">
        <i class="fa-solid fa-water"></i>
        Lakes
    </div>
    <div class="category">
        <i class="fa-solid fa-mountain-sun"></i>
        Views
    </div>
    <div class="category">
        <i class="fa-regular fa-snowflake"></i>
        Arctic
    </div>
    <div class="category">
        <i class="fa-solid fa-umbrella-beach"></i>
        Beachfront
    </div>
    <div class="category">
        <i class="fa-solid fa-city"></i>
        Cities
    </div>
    <div class="category">
        <i class="fa-solid fa-ship"></i>
        Boats
    </div>
    <div class="category">
        <i class="fa-solid fa-person-skiing-nordic"></i>
        Skiing
    </div>
    <div class="category">
        <i class="fa-solid fa-tower-observation"></i>
        Towers
    </div>
</div>