<div class="footer">
  <div class="footer-social">
    <i class="fa-brands fa-square-facebook me-2"></i>
    <i class="fa-brands fa-square-instagram me-2"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <a class="mt-3" href="#">WanderNest private limited</a>
  <a class="mt-3" href="#">Privacy Policy</a>
</div>