<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <h3
      style="
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        padding: 1.5rem;
        width: fit-content;
        background-color: rgb(209, 134, 134);
        border: 0.2rem solid rgb(234, 26, 26);
        border-radius: 1rem;
      "
    >
      Error:<br /><br />
      <%= message %>
    </h3>
  </body>
</html>
